/nvim/plugged
/nvim/plugin
/nvim/autoload
/darktable
/nvim/lua-language-server
/nvim/package.json
/nvim/package-lock.json

!/darktable/shortcutsrc.edit
!/darktable/shortcutsrc.defaults
!/darktable/shortcutsrc.backup
!/darktable/user.css
!/darktable/darktablerc
